<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <title>Home</title>
</head>
<body>
    <h1>Planner</h1>
    <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
          <a class="dropbtn" href="/planAhead">Plan Ahead</a>
            <div class="dropdown-content">
              <a href="/discover">Discover</a>
              <a href="/planner">Planner</a>
              <a href="/whatIf">What If</a>
            </div>
        </div>
        <a href="https://paws.gsu.edu" target="_blank">PAWS</a>
        <a href="#logout">Log Out</a>
    </div>
    
    <h1>Course Planner</h1>

<!-- Display recommended next courses -->
<h2 id="recommended-courses" class="<%= recommendations.length === 0 ? 'hide' : '' %>">Recommended Next Courses</h2>
<ul>
  <% recommendations.forEach(recommendation => { %>
    <ul>
      <% recommendation.recommendedCourses.forEach(recommendedCourse => { %>
        <li><%= recommendedCourse.courseNumber %> - <%= recommendedCourse.creditHours %> credit hours</li>
      <% }); %>
    </ul>
  <% }); %>
</ul>

<form method="post" action="/planner">
  <h2 class="<%= coursesNotTaken.length === 0 ? 'hide' : '' %>">Select Courses for Next Semester</h2>
  <ul class="<%= coursesNotTaken.length === 0 ? 'hide' : '' %>">
    <% coursesNotTaken.forEach(course => { %>
      <li>
        <input type="checkbox" name="selectedCourses" value="<%= course._id %>">
        <%= course.courseNumber %> - <%= course.creditHours %> credit hours
      </li>
    <% }); %>
  </ul>
  <input type="hidden" name="currentCourses" value="<%= JSON.stringify([]) %>">
  <button type="submit" class="<%= coursesNotTaken.length === 0 ? 'hide' : '' %>">Add Selected Courses to Your Plan</button>
</form>

<h2 class="<%= currentCourses.length === 0 ? 'hide' : '' %>">Your Plan</h2>
<ul>
  <% currentCourses.forEach(course => { %>
    <li><%= course.courseNumber %> - <%= course.creditHours %> credit hours</li>
  <% }); %>
</ul>
    
      
    <!-- Your server.js script should be included separately -->
    <script src="server.js"></script>
</body>
</html>
