<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/css/favicon.ico" type="image/x-icon" sizes="16x16">
    <title>What If</title>
</head>

<body>
    <header>
        <div class="title">
            <img src="/css/inverse.png" alt="logo" width="90" height="50" class="logo">
            <div class="vertical-line"></div>
            <h1>What If</h1>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/discover">Discover</a>
            <a href="/whatIf">What If</a>
            <div class="dropdown">
                <a class="dropbtn" href="/planAhead">Plan Ahead</a>
                <div class="dropdown-content">
                    <a href="/planner">Whats Next</a>
                    <a href="/planOfStudy">Guided Schedule</a>
                </div>
            </div>
            <a href="https://paws.gsu.edu" target="_blank">PAWS</a>
        </div>
    </header>

    <div class="whatif-dropdown">
        <p>Contemplating a shift in your major, considering a minor addition, or focusing on a specific concentration?
            Choose the major, minor, or concentration you wish to pursue. Review the courses you've completed and
            identify the ones that remain for completion.</p>

        <form action="/whatIf" method="POST">
            <label for="major">Select a major:</label>
            <select id="major" name="major">
                <option value="None">None</option>
                <option value="Computer Science">Computer Science</option>
            </select>

            <br>

            <label for="minor">Select a minor:</label>
            <select id="minor" name="minor">
                <option value="None">None</option>
                <option value="Mathematics">Mathematics</option>
            </select>

            <br>

            <label for="concentration">Select a concentration:</label>
            <select id="concentration" name="concentration">
                <option value="None">None</option>
                <option value="Data Science">Data Science</option>
                <option value="Cybersecurity">Cybersecurity</option>
            </select>

            <br>

            <input type="submit" value="Submit">

        </form>

        <div id="selectionResults">
            <% if (Object.keys(selectedMajorInfo).length> 0) { %>
                <div class="selectionContainer">
                    <h2>Selected Major Information:</h2>
                    <h3>Name: <%= selectedMajorInfo.name %>
                    </h3>
                    <h3>Credits Needed for Completion: </h3>
                    <p>
                        <%= selectedMajorInfo.creditsNeededForCompletion %>
                    </p>
                    <h3>Description: </h3>
                    <p>
                        <%= selectedMajorInfo.description %>
                    </p>
                    <% } %>
                </div>

                <% if (Object.keys(selectedMinorInfo).length> 0) { %>
                    <div class="selectionContainer">
                        <h2>Selected Minor Information:</h2>
                        <h3>Name: <%= selectedMinorInfo.name %>
                        </h3>
                        <h3>Total Credits:</h3>
                        <ul>
                            <li>
                                <%= selectedMinorInfo.totalCredits %>
                            </li>
                        </ul>
                        <h3>Description:</h3>
                        <ul>
                            <li>
                                <%= selectedMinorInfo.description %>
                            </li>
                        </ul>

                        <div class="courses">
                            <h3>Required Courses:</h3>
                            <ul>
                                <% selectedMinorInfo.requiredCourses.forEach(course=> { %>
                                    <li>
                                        <%= course.number %> - <%= course.title %>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>

                        <div class="courses">
                            <h3>Electives:</h3>
                            <ul>
                                <% selectedMinorInfo.electives.forEach(elective=> { %>
                                    <li>
                                        <%= elective.number %> - <%= elective.title %>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>

                        <div class="courses">
                            <h3>Completed Required Course(s):</h3>
                            <ul>
                                <% if (selectedMinorInfo && selectedMinorInfo.completedCourses) { %>
                                    <% if (selectedMinorInfo.completedCourses.requiredCourses &&
                                        selectedMinorInfo.completedCourses.requiredCourses.length> 0) { %>
                                        <ul>
                                            <% selectedMinorInfo.completedCourses.requiredCourses.forEach(course=> { %>
                                                <li>
                                                    <%= course.number %> - <%= course.title %>
                                                </li>
                                                <% }); %>
                                        </ul>
                                        <% } else { %>
                                            <ul>
                                                <li>No completed required courses found.</li>
                                            </ul>
                                            <% } %>
                            </ul>
                        </div>

                        <div class="courses">
                            <h3>Completed Elective(s):</h3>
                            <% if (selectedMinorInfo.completedCourses.electives &&
                                selectedMinorInfo.completedCourses.electives.length> 0) { %>
                                <ul>
                                    <% selectedMinorInfo.completedCourses.electives.forEach(course=>
                                        { %>
                                        <li>
                                            <%= course.number %> - <%= course.title %>
                                        </li>
                                        <% }); %>
                                </ul>
                                <% } else { %>
                                    <ul>
                                        <li>No completed electives found.</li>
                                    </ul>
                                    <% } %>
                                        <% } else { %>
                                            <ul>
                                                <li>No completed courses found.</li>
                                            </ul>
                                            <% } %>
                        </div>

                        <div class="courses">
                            <h3>Required Remaining Course(s):</h3>
                            <% if (selectedMinorInfo && selectedMinorInfo.remainingCourses &&
                                Array.isArray(selectedMinorInfo.remainingCourses)) { %>
                                <ul>
                                    <% selectedMinorInfo.remainingCourses.forEach(course=> { %>
                                        <li>
                                            <%= course.number %> - <%= course.title %>
                                        </li>
                                        <% }); %>
                                </ul>
                                <% } else { %>
                                    <p>No remaining courses found.</p>
                                    <% } %>
                        </div>

                        <div class="courses">
                            <h3>Remaining Elective(s):</h3>
                            <% if (selectedMinorInfo && selectedMinorInfo.remainingElectives &&
                                Array.isArray(selectedMinorInfo.remainingElectives)) { %>
                                <ul>
                                    <% selectedMinorInfo.remainingElectives.forEach(elective=>
                                        { %>
                                        <li>
                                            <%= elective.number %> - <%= elective.title %>
                                        </li>
                                        <% }); %>
                                </ul>
                                <% } else { %>
                                    <p>No remaining electives found.</p>
                                    <% } %>
                        </div>

                    </div>
                    <% } %>

                        <% if (Object.keys(selectedConcentrationInfo).length> 0) { %>
                            <div class="selectionContainer">
                                <h2>Selected Concentration Information:</h2>
                                <h3>Name: <%= selectedConcentrationInfo.name %>
                                </h3>
                                <h3>Description: </h3>
                                <ul>
                                    <li>
                                        <%= selectedConcentrationInfo.description %>
                                    </li>
                                </ul>
                                <h3>Total Credits: </h3>
                                <ul>
                                    <li>
                                        <%= selectedConcentrationInfo.totalCredits %>
                                    </li>
                                </ul>
                                <div class="courses">
                                    <h3>Required Course:</h3>
                                    <% if (selectedConcentrationInfo.requiredCourse) { %>
                                        <ul>
                                            <li>
                                                <%= selectedConcentrationInfo.requiredCourse.number %> - <%=
                                                        selectedConcentrationInfo.requiredCourse.title %>
                                            </li>
                                        </ul>
                                        <% } else { %>
                                            <ul>
                                                <li>No required course specified for this concentration.</li>
                                            </ul>
                                            <% } %>

                                </div>

                                <div class="courses">
                                    <h3>Elective(s):</h3>
                                    <ul>
                                        <% if (selectedConcentrationInfo.electives &&
                                            selectedConcentrationInfo.electives.length> 0) { %>
                                            <% selectedConcentrationInfo.electives.forEach(elective=> { %>
                                                <li>
                                                    <%= elective.number %> - <%= elective.title %>
                                                </li>
                                                <% }); %>
                                                    <% } else { %>
                                                        <li>No electives found.</li>
                                                        <% } %>
                                    </ul>
                                </div>

                                <div class="courses">
                                    <h3>Completed Course(s):</h3>
                                    <% if (selectedConcentrationInfo.completedCourses &&
                                        ((selectedConcentrationInfo.completedCourses.requiredCourses &&
                                        selectedConcentrationInfo.completedCourses.requiredCourses.length>
                                        0) ||
                                        (selectedConcentrationInfo.completedCourses.electives &&
                                        selectedConcentrationInfo.completedCourses.electives.length > 0))) {
                                        %>
                                        <ul>
                                            <%
                                                selectedConcentrationInfo.completedCourses.requiredCourses.forEach(course=>
                                                { %>
                                                <li>
                                                    <%= course.number %> - <%= course.title %>
                                                </li>
                                                <% }); %>
                                        </ul>
                                </div>

                                <div class="courses">
                                    <h3>Completed Elective(s): </h3>
                                    <ul>
                                        <% selectedConcentrationInfo.completedCourses.electives.forEach(elective=>
                                            { %>
                                            <li>
                                                <%= elective.number %> - <%= elective.title %>
                                            </li>
                                            <% }); %>

                                                <% } else { %>
                                                    <ul>
                                                        <li>No courses have been completed for this concentration.</li>
                                                    </ul>
                                                    <% } %>
                                    </ul>
                                </div>

                                <div class="courses">
                                    <h3>Required Remaining Course(s):</h3>
                                    <% if (selectedConcentrationInfo.remainingCourse) { %>
                                        <ul>
                                            <li>
                                                <%= selectedConcentrationInfo.requiredCourse.number %> - <%=
                                                        selectedConcentrationInfo.requiredCourse.title %>
                                            </li>
                                        </ul>
                                        <% } else { %>
                                            <p>All required courses completed.</p>
                                            <% } %>
                                </div>

                                <div class="courses">
                                    <h3>Remaining Elective(s):</h3>
                                    <% if (selectedConcentrationInfo.remainingElectives &&
                                        selectedConcentrationInfo.remainingElectives.length>
                                        0) { %>
                                        <ul>
                                            <% selectedConcentrationInfo.remainingElectives.forEach(elective=>
                                                { %>
                                                <li>
                                                    <%= elective.number %> - <%= elective.title %>
                                                </li>
                                                <% }); %>
                                        </ul>
                                        <% } %>
                                </div>

                            </div>
                            <% } %>

        </div>
    </div>
</body>

</html>